nav{
    border: 2px solid teal;
    background-color: blanchedalmond;
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-direction: calc(50px);
    box-sizing: var(50px);
    border-radius: 20px;
    padding-inline-start: 4%;
   
} 

h1{
    color: rgb(2, 45, 45);
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    
}

head{
    background-color:rgb(2, 45, 45);
    font-weight: bold;
}

body{
    background-color:gray;
}

footer{
    background-color:rgb(5, 5, 56) ;
    color: beige;
    border: 3px solid black;
}

h1{
    color:beige;
}

img{
    border-radius: 20px;
}



main{
    border: 5px solid transparent;
}

div{
    justify-content: center;
    display: flex;
    gap: 3%;
}

/*Tablets*/
@media(min-width:481px) and(max-width:768px){
    

}

/*for mobile phone*/
@media(max-width:480px){

}



